/*

background-color: rgba(16 18 27 / 40%)
*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital@1&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    color: #FFFFFF;
}
.back_gr {
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    
}
.back_gr video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.continer{
    max-width: 1250px;
    height: 860px;
    background-color: rgba(16 18 27 / 40%);
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
}
.continer .nav_bar
{
    width: 100%;
    height: 50px;
    display: flex;
    border-bottom: 1px solid rgb(55, 55, 55);
}
.continer .nav_bar > *
{
    margin:0px 25px;
}

/*****************************left bar**************************/
.left-bar{
    height: 100%;
    display: flex;
    align-items: center;
}
.left-bar span{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin: 0px 7px;
}
.left-bar .red{
    background: #F96057;
}
.left-bar .yellow{
    background: #F8CE52;
}
.left-bar .green{
    background: #5FCF65;
}
/*****************************right bar**************************/
.right-bar{
    /* background: #F8CE52; */
    height: 100%;
    font-size: 15px;
    display: flex;
    align-items: center;
}

/*****************************min bar**************************/
.right-bar .min-bar{
    display: flex;
    height: 100%;
    align-items: center;
}
.right-bar .min-bar a{
    width: 80px;
    height: 100%;
    margin: 0px 15px;
    text-decoration: none;
    color: #f9fafbac;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.1s;
}
.right-bar .min-bar a:first-of-type
{
    color: #f9fafb;
    border-bottom: 2px solid #FFFFFF;
}
.right-bar .min-bar a:first-of-type span
{
    display: none;
}
.right-bar .min-bar a span{
    width: 5px;
    height: 5px;
    background:#3A6DF0;
    position: absolute;
    border-radius: 50%;
    top: 20%;
    right: 0;
}
.right-bar .min-bar a:hover {
    color: #f9fafb;
    border-bottom: 2px solid #FFFFFF;
}
/*****************************search bar**************************/
 .right-bar .search{
    height: 75%;
    background: #14162B;
    border-radius: 5px;
    display: flex;
    align-items: center;
    padding-left: 15px;
}
.right-bar .search input{
    width: 200px;
    height: 100%;
    background: #14162B;
    font-size: 16px;
    border: none;
    font-weight: 600;
    padding: 15px;
    color: #FFFFFF;
}

input:focus {
    outline:none;
}

/*******************************************************/
/*****************************icons bar**************************/
.right-bar .icons{
    margin-left: 15px;
    height: 100%;
    display: flex;
    align-items: center;
}

.right-bar .icons i{
    color: #F9FAFB;
    font-size: 20px;
}
.right-bar .icons > *{
    cursor: pointer;
    margin: 0px 15px;
}
.right-bar .icons span{
    width:15px;
    height: 15px;
    background:#3A6DF0;
    position: absolute;
    border-radius: 50%;
    top: 10px;
    right: -7px;
    color: #FFFFFF;
    font-size:9px;
    text-align: center;

}
.right-bar .icons .notif, .cloud{
    width:20px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.right-bar .icons .User{
    border: 2px solid #FFFFFF;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right-bar .icons .User img{
object-fit: cover;
}

/*******************************************************/
